html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  padding: 1rem 2rem 5rem;
}

.fork-me {
  position: absolute;
  top: 0;
  right: 0;
}

h2 {
  margin-top: 4rem;
  border-top: 2px dashed rgba(0, 0, 0, 0.3);
  padding-top: 2rem;
}

canvas {
  border: 2px solid #000;
}

#svg-instancing {
  border: 2px solid darkred;
  max-width: 600px;
  height: auto;
}

.controls {
  max-width: 600px;
  margin: 1rem 0;
  border: 1px dotted rgba(0, 0, 0, 0.8);
  padding: 1rem;
}
.controls h3 {
  margin-top: 0;
}
.controls .control-checkbox input {
  margin-right: 0.5rem;
}
